:root {
  --back_80_Red:   #ff0040;
  --back_60_Red:   #ff1000;
  --back_60_Gray:  #808080;
  --back_100_Gray:  #717171;
  --text_80_Gray:      #707c8b;
  --text_100_White:      #ffffff;
  --back_100_White:  #ffffff;
  --back_70_white: #f5f5f5;
  --color_60_:     #f3f3f4;
  --text_100_Black:      black;
}
