.popUp__container {


  .slidershow-container {

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-self: center;

    .mySlides {
      width: fit-content;
      margin-left: 4vw;

      .container__picture {
        margin: 1vh 0 0 1vw;

        .number__text {
          margin-top: 1vh;
          margin-left: 1vw;
          position: absolute;
          font-size: 1.5vh;
        }

        .picture {
          border-radius: 1rem;
          width: 16.5vw;
          height: 14.5vh;
        }
      }
    }
  }

  .user__action {
    display: flex;
    justify-content: center;

    .button__back, .button__next {

      width: 7vw;
      height: 3vh;
    }
  }
}


